html, body {
  height: 100%;
}

.App {

  text-align: center;
  background-color: #222222;
  height: 100%;
  padding: 100px;
  color: white;

  header {
    border: 1px solid purple;
    margin-bottom: 20px;
    font-size: 20pt;
  }

  .DoodleCanvas {
    border: 1px solid red;
    display: flex;
    justify-content: center;

    .padding {
      flex-grow: 1;
    }

    canvas {
      border: 1px solid yellow;
    }

    .cloud-box {
      width: 400px;
      border: 1px solid purple;
      height: 100px;
      background-color: black;
    }
  }

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
