$background: black;
$breakpoint: 1280px;

html, body {
  background-color: $background;
}

.App {
  text-align: center;
  background-image: linear-gradient(steelblue, black);
  color: white;
  font-family: Ubuntu, Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 10px;

  .QuickDraw {
    .prompt {
      border-bottom: 3px solid orange;
      font-size: 20pt;
    }
    .main {
      display: flex;
      justify-content: center;

      flex-direction: column;
      @media (min-width: $breakpoint) {
        flex-direction: row;
      }

      .leftside {
        flex-grow: 1;
        margin: 10px;
        header {

        }
        article {
          text-align: left;
        }
      }

      .DoodleCanvas {
        canvas {
          margin: 20px 20px 0 20px;
          box-shadow: 1px 1px 10px;
        }

        .toolbar {
          margin: 0 20px 20px 20px;
          display: flex;
          justify-content: center;
          @media (min-width: $breakpoint) {
            justify-content: flex-start;
          }

          .button {
            background-color: orange;
            border-radius: 8px;
            text-align: center;
            width: 70px;
            margin: 3px;
            padding: 4px 8px;
            border: 1px solid #a12727;
            font-size: 12pt;
            color: black;
            text-decoration: none;
          }

          .button:hover {
            color: white;
            text-decoration: none;
          }

          .button:active {
            background: brown;
          }
        }
      }

      .rightSide {

        margin: auto;
        display: flex;
        flex-direction: column;

        .skip {
          margin-top: 25px;
          button {
            background-color: orange;
            border: 1px solid #a12727;
            border-radius: 8px;
            width: 300px;
            height: 80px;
            font-size: 24pt;
          }
        }

        .cloud-box {
          align-self: center;
          width: 500px;
          height: 100px;
        }

        .gauge-box {
          align-self: center;
          width: 320px;
          height: 200px;
        }
      }
    }
  }

  footer {
    display: flex;

    .leftEnd {
      padding: 15px;
      font-size: 14pt;
    }

    .center {
      flex-grow: 1;
    }

    .rightEnd {
      padding: 15px;
    }
  }
}
