$background: black;
$foreground: orange;
$breakpoint: 1200px;
$button-border-color: #a12727;

html, body {
  background-color: $background;
  height: 100%;
}

::-webkit-scrollbar {
  background-color: rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: $foreground;
}

.App {
  color: white;
  text-align: center;
  font-family: Ubuntu, Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 0px;

  header {
    background-color: steelblue;
    padding: 10px 10px 20px 10px;
    border-bottom: 2px solid $foreground;
    font-size: 24pt;
    img {
      padding-right: 20px;
      vertical-align: text-bottom;
    }
  }

  a {
    color: orange;
  }
  a:visited {
    color: #e89757;
  }

  .main {

    padding: 20px;
    background-image: linear-gradient(steelblue, $background);

    .QuickDraw {

      display: flex;
      justify-content: center;

      flex-direction: column;
      @media (min-width: $breakpoint) {
        flex-direction: row;
      }

      .padding {
        flex-grow: 1;
      }

      .documentation {
        line-height: 1.3em;
        height: 300px;
        overflow-y: scroll;
        margin: auto;
        border-bottom: 2px solid orange;
        @media (min-width: $breakpoint) {
          border-bottom: none;
          max-width: 400px;
          overflow-y: visible;
          height: auto;
          padding-right: 5px;
          margin: 15px;
        }
        text-align: left;
        article {
          text-align: left;
          p {
            margin: 8px 0px 8px 0px;
          }
        }
        .banner {
          background: url(https://quickdraw.withgoogle.com/static/svg/banner.svg) no-repeat 50% 0px;
          height: 150px;

        }

        .pic {
          background-color: lightgray;
          width: 300px;
          margin: auto;
          .bck {
            background: url(https://quickdraw.withgoogle.com/static/svg/hero.svg) no-repeat 50% -25px;
            height: 150px;
            overflow: hidden;
          }
        }
      }

      .DoodleCanvas {
        .title {
          font-size: 20pt;
          margin-bottom: 10px;
        }
        canvas {
          margin: 5px 20px 0 20px;
          box-shadow: 1px 1px 10px;
          cursor: url(/pencil.cur), default;
        }

        .toolbar {
          width: 480px;
          margin: auto;
          display: flex;
          justify-content: center;
          @media (min-width: $breakpoint) {
            justify-content: flex-start;
          }

          .button {
            background-color: $foreground;
            border-radius: 8px;
            text-align: center;
            width: 70px;
            margin: 3px;
            padding: 4px 8px;
            border: 1px solid $button-border-color;
            font-size: 12pt;
            color: $background;
            text-decoration: none;
          }

          .button:hover {
            color: white;
            text-decoration: none;
          }

          .button:active {
            background: brown;
          }

          .spacer {
            flex-grow: 1;
          }
        }
      }

      .feedback {

        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;

        .cloud-box {
          @media (min-width: $breakpoint) {
            align-self: center;
            width: 320px;
            height: 200px;
          }
          align-self: center;
          width: 480px;
          height: 120px;
        }

        .gauge-box {
          align-self: center;
          width: 320px;
          height: 200px;
        }
      }
    }
  }

  .bottomLinks {
    display: flex;
    margin: 10px;

    .leftEnd {
      padding-left: 15px;
      font-size: 14pt;
    }

    .center {
      flex-grow: 1;
      text-align: center;
    }

    .rightEnd {
      padding-right: 15px;
    }
  }

  .cellar {
    margin: 10px;
    .readme {
      padding: 10px;
      text-align: left;
      line-height: 1.4em;
    }
  }
}
