$background: black;

$breakpoint: 1080px;

html, body {
  background-color: $background;
}

.App {

  text-align: center;
  background-image: linear-gradient(steelblue, black);
  height: 100%;
  padding: 100px;
  color: white;
  font-family: Ubuntu, Helvetica, Arial, "Lucida Grande", sans-serif;

  header {
    border: 1px solid purple;
    margin-bottom: 20px;
    font-size: 20pt;
  }

  .QuickDraw {

    .prompt {
      border: 1px solid yellow;
      margin-bottom: 20px;
      font-size: 20pt;
    }

    .main {
      border: 1px solid red;
      display: flex;
      justify-content: center;

      flex-direction: column;
      @media (min-width: $breakpoint) {
        flex-direction: row;
      }

      .padding {
        flex-grow: 1;
      }

      .DoodleCanvas {
        canvas {
          margin: 20px 20px 0px 20px;
          box-shadow: 1px 1px 10px;
        }

        .toolbar {

          margin: 0px 20px 20px 20px;
          display: flex;

          .button {
            background-color: orange;
            border-radius: 8px;
            text-align: center;
            width: 70px;
            margin: 3px;
            padding: 4px 8px;
            border: 1px solid #a12727;
            font-size: 12pt;
            color: black;
            text-decoration: none;
          }
          .button:hover {
            color: white;
            text-decoration: none;
          }
          .button:active {
            background: brown;
          }



        }
      }

      .rightSide {

        margin: auto;
        display: flex;
        flex-direction: column;

        .cloud-box {
          align-self: center;
          border: 1px solid purple;
          width: 500px;
          height: 100px;
        }

        .gauge-box {
          align-self: center;
          border: 1px solid orange;
          width: 320px;
          height: 200px;
        }

        .bottom {
          margin-top: 25px;
          button {
            background-color: orange;
            border-radius: 8px;
            width: 300px;
            height: 80px;
            font-size: 24pt;
          }
        }

      }

    }
  }


}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
