$background: black;
$foreground: orange;
$breakpoint: 1280px;
$button-border-color: #a12727;

html, body {
  background-color: $background;
}

.App {
  text-align: center;
  background-image: linear-gradient(steelblue, $background);
  color: white;
  font-family: Ubuntu, Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 10px;

  a {
    color: orange;
  }
  a:visited {
    color: yellow;
  }

  .QuickDraw {
    header {
      padding-bottom: 10px;
      border-bottom: 3px solid $foreground;
      font-size: 20pt;
    }
    .prompt {
    }
    .main {
      display: flex;
      justify-content: center;

      flex-direction: column;
      @media (min-width: $breakpoint) {
        flex-direction: row;
      }

      .leftside {
        flex-grow: 1;
        margin: 10px;
        border-bottom: 3px solid $foreground;
        border-right: 0;
        padding: 5px 10px 5px 5px;
        @media (min-width: $breakpoint) {
          border-bottom: 0;
          border-right: 3px solid $foreground;
          padding: 5px 5px 10px 5px;
        }
        article {
          text-align: left;
        }
      }

      .DoodleCanvas {
        .title {
          font-size: 20pt;
          margin-top: 20px;
        }
        canvas {
          margin: 20px 20px 0 20px;
          box-shadow: 1px 1px 10px;
        }

        .toolbar {
          margin: 0 20px 20px 20px;
          display: flex;
          justify-content: center;
          @media (min-width: $breakpoint) {
            justify-content: flex-start;
          }

          .button {
            background-color: $foreground;
            border-radius: 8px;
            text-align: center;
            width: 70px;
            margin: 3px;
            padding: 4px 8px;
            border: 1px solid $button-border-color;
            font-size: 12pt;
            color: $background;
            text-decoration: none;
          }

          .button:hover {
            color: white;
            text-decoration: none;
          }

          .button:active {
            background: brown;
          }
        }
      }

      .rightSide {

        margin: auto;
        display: flex;
        flex-direction: column;

        .skip {
          margin-top: 25px;
          button {
            background-color: $foreground;
            border: 1px solid $button-border-color;
            border-radius: 8px;
            width: 300px;
            height: 80px;
            font-size: 24pt;
          }
        }

        .cloud-box {
          align-self: center;
          width: 460px;
          height: 100px;
        }

        .gauge-box {
          align-self: center;
          width: 320px;
          height: 200px;
        }
      }
    }
  }

  footer {
    display: flex;

    .leftEnd {
      padding: 15px;
      font-size: 14pt;
    }

    .center {
      flex-grow: 1;
      padding: 15px;
      text-align: center;
    }

    .rightEnd {
      padding: 15px;
    }
  }
}
